@use "../general" as *;

.about {
  padding-block: 80px;
  background: linear-gradient(to bottom right, $pink-50, $blue-50);

  // --- WRAPPER ---
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-xxxl;
  }

  // --- HEADER ---
  &__header {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
    text-align: center;
  }

  &__title {
    padding-bottom: $spacing-s;
    background: linear-gradient(to left, $blue-500, $pink-500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba($black, 0.15));
  }

  &__subtitle {
    font-weight: $font-weight-medium;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $gap-xl;
  }

  &__bio {
    background-color: $white;
    padding: $spacing-xl;
    border: 4px solid $purple-300;
    border-radius: $border-radius-card;
    box-shadow: 0px 20px 25px -5px rgba($black, 0.15);

    display: flex;
    flex-direction: column;
    gap: $gap-m;

    > p {
      font-weight: $font-weight-medium;
      line-height: 29px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-l;
    width: 100%;

    @include mq("mobile") {
      grid-template-columns: 1fr;
    }
  }
}

.about-card {
  padding: $spacing-l;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $gap-s;
  border-radius: $border-radius-card;
  box-shadow: 0px 20px 25px -5px rgba($black, 0.15);

  &__icon {
    width: 32px;
    height: 32px;

    &-wrapper {
      margin-bottom: $spacing-s;
      padding: $spacing-m;
      border-radius: 16px;
      box-shadow: 0px 10px 15px -3px rgba($black, 0.15);
    }
  }

  &--pink {
    border: 4px solid $pink-300;
    background: linear-gradient(to bottom right, $pink-100, $purple-100);

    .about-card__icon-wrapper {
      background: linear-gradient(to top left, $purple-400, $pink-400);
    }
  }

  &--purple {
    border: 4px solid $purple-300;
    background: linear-gradient(to bottom right, $purple-100, $blue-100);

    .about-card__icon-wrapper {
      background: linear-gradient(to top left, $blue-400, $purple-400);
    }
  }

  &--blue {
    border: 4px solid $blue-300;
    background: linear-gradient(to bottom right, $blue-100, $pink-100);

    .about-card__icon-wrapper {
      background: linear-gradient(to top left, $pink-400, $blue-400);
    }
  }
}
