// BLUE
$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;

// PURPLE
$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9810fa;
$purple-700: #7e22ce;
$purple-800: #6b21a8;

// PINK
$pink-50: #fdf2f8;
$pink-100: #fce7f3;
$pink-200: #fbcfe8;
$pink-300: #f9a8d4;
$pink-400: #f472b6;
$pink-500: #f6339a;
$pink-600: #db2777;
$pink-800: #9d174d;

// BASIC
$gray-100: #f3f4f6;
$black: #000000;
$white: #ffffff;
