// FONT FAMILY
$font-sans:
  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$font-mono:
  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
$primary-font-family: $font-sans;
$secondary-font-family: $font-mono;

// FONT SIZE
$font-size-s: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
$font-size-m: clamp(0.875rem, 0.8rem + 0.35vw, 1rem);
$font-size-l: clamp(1.25rem, 1.1rem + 0.75vw, 1.5rem);
$font-size-xl: clamp(1.5rem, 1.3rem + 1vw, 2rem);
$font-size-xxl: clamp(2rem, 1.6rem + 2vw, 3rem);
$font-size-title: clamp(3rem, 1.5rem + 5vw, 6rem);

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
