// FONT FAMILY
$font-sans:
  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$font-mono:
  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
$primary-font-family: $font-sans;
$secondary-font-family: $font-mono;

// FONT SIZE
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: clamp(1rem, calc(0.956rem + 0.188vw), 1.125rem);
$font-size-l: clamp(1.5rem, calc(1.368rem + 0.563vw), 1.875rem);
$font-size-xl: clamp(3rem, calc(2.736rem + 1.127vw), 3.75rem);
$font-size-xxl: clamp(3.75rem, calc(2.958rem + 3.38vw), 6rem);

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
